# ==========================================
# Maven / Spring Boot
# ==========================================
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# ==========================================
# Arquivos de Log
# ==========================================
*.log
logs/

# ==========================================
# Segurança e Credenciais (Crucial para Banco de Dados)
# ==========================================
.env
.env.*
application-local.properties
application-local.yml
*secret*.properties

# ==========================================
# Sistema Operacional
# ==========================================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
ehthumbs_vista.db
[Tt]humbs.db

# ==========================================
# IDEs
# ==========================================
### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/
*.code-workspace

### STS / Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/